@using ShareCar.Models
@using Microsoft.AspNet.Identity
@model ShareCar.Models.LiftOffer

@{
    ViewBag.Title = "Details";
}

<h2>Book Seat</h2>
<h4>Select no. of seats.</h4>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StartPointName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPointName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPointName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPointName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureHour)
        </dt>

        <dd>
            @Html.DisplayFor(
            model => model.DepartureHour):@Html.DisplayFor(model => model.DepartureMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalHour)
        </dt>

        <dd>
            @Html.DisplayFor(
            model => model.ArrivalHour):@Html.DisplayFor(model => model.ArrivalMin)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CarMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatsAvailable)
        </dd>
        <!-- Display if StartDate is future date -->
        @if (DateTime.Compare(Model.StartDate, DateTime.Today) > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
        }
        <!-- EndDate displayed if provided -->
        @if (Model.EndDate != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        }
        <!-- Displayed if any days provided -->
        @if (ViewBag.SelectedDays.Count != 0)
        {
            <dt>
                @Html.Label("Valid Every:")
            </dt>

            <dd>
                @{
                    foreach (var day in ViewBag.SelectedDays)
                    {
                        <span>@day &nbsp;</span>
                    }
                }
            </dd>
        }
    </dl>
</div>
<hr />

@{  // Create number of seats = seats available for dropdown list
    List<SelectListItem> seatsNo = new List<SelectListItem>();
    for (int i = 1; i <= Model.SeatsAvailable; i++)
    {
        seatsNo.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
}

@if (Model.UserID != ViewBag.CurrentID)     // Hide booking section when user selected their own offer
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.LiftOfferID)
            @Html.HiddenFor(model => model.UserID)

            <div class="form-group">
                @Html.Label("How many ?", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("requestedSeats", seatsNo, "-no-", new { title = "Select seats" })
            </div>
            <p>&nbsp</p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Back to List", "All", "LiftOffers") |
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

@if (Model.UserID == ViewBag.CurrentID)     // Warning displayed when user selects their own offer
{
    @Html.Label("You cannot request seat on your own offer !!", new { @class = "text-danger" });
    <p>@Html.ActionLink("Back to List", "All", "LiftOffers")</p>
}

