@model IEnumerable<ShareCar.Models.BookingDetailsModel>

@{
    ViewBag.Title = "Received Offers";
}

<h2>Received Offers</h2>
<br />
<h4>New offers</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeatBooking.SeatsRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.IsSmoker)
        </th>
        <th>
            @Html.Label("", "Phone No.", htmlAttributes: new { @class = "control-label" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.SeatsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.StartPointName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.EndPointName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.DepartureHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.ArrivalHour)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SeatBooking.IsAccepted == false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.SeatBooking.SeatsRequest)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.Age)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.IsSmoker)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LiftOffer.SeatsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LiftOffer.StartPointName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LiftOffer.EndPointName)
                </td>
                <td>
                    @Html.DisplayFor(
                    model => item.LiftOffer.DepartureHour):@Html.DisplayFor(model => item.LiftOffer.DepartureMin)
                </td>
                <td>
                    @Html.DisplayFor(
                    model => item.LiftOffer.ArrivalHour):@Html.DisplayFor(model => item.LiftOffer.ArrivalMin)
                </td>
                <td>
                    @Html.ActionLink("Accept", "Accept", new { id = item.SeatBooking.SeatBookingID }) |
                    @Html.ActionLink("Decline", "Decline", new { id = item.SeatBooking.SeatBookingID })
                </td>
            </tr>
        }
    }
</table>

<br />
<h4>Accepted offers</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeatBooking.SeatsRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.IsSmoker)
        </th>
        <th>
            @Html.Label("", "Phone No.", htmlAttributes: new { @class = "control-label" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.SeatsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.StartPointName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.EndPointName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.DepartureHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftOffer.ArrivalHour)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SeatBooking.IsAccepted == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.SeatBooking.SeatsRequest)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.Age)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.IsSmoker)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LiftOffer.SeatsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LiftOffer.StartPointName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LiftOffer.EndPointName)
                </td>
                <td>
                    @Html.DisplayFor(
                    model => item.LiftOffer.DepartureHour):@Html.DisplayFor(model => item.LiftOffer.DepartureMin)
                </td>
                <td>
                    @Html.DisplayFor(
                    model => item.LiftOffer.ArrivalHour):@Html.DisplayFor(model => item.LiftOffer.ArrivalMin)
                </td>
                <td>
                    @if (item.Feedback == null)
                    {
                        @Html.ActionLink("Feedback", "Create", "Feedbacks") @:|
                        // Pasing all related to SeatBooking info, to "~/Feedbacks/Create"
                        TempData["model"] = item;
                    }
                    else
                    {
                        @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
                    }

                    @Html.ActionLink("Cancel", "Delete", "SeatBookings", new { id = item.SeatBooking.SeatBookingID }, null)
                </td>
            </tr>
        }
    }
</table>