@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "List Roles";
}

<h2>Users in role: <span style="color:darkblue">@Html.DisplayFor(model => model.Name)</span></h2>

@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>No users found in this role.</p>
}

<div class="col">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone No.
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Edit Role", "Edit", new { id = Model.Id },
                                     new { @class = "btn btn-default" })
</p>



