@using ShareCar.Models
@model ShareCar.Models.LiftOffer

@{
    ViewBag.Title = "Details";
}

@{ // find user to display name and rating
    ApplicationDbContext db = new ApplicationDbContext();
    var name = db.Users.FirstOrDefault(user => user.Id == Model.UserID);
}

<h2>Details</h2>

<div>
    <h4>Lift Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => name.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.RatingAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => name.RatingAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPointName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPointName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPointName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPointName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureHour)
        </dt>

        <dd>
            @Html.DisplayFor(
            model => model.DepartureHour):@Html.DisplayFor(model => model.DepartureMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalHour)
        </dt>

        <dd>
            @Html.DisplayFor(
            model => model.ArrivalHour):@Html.DisplayFor(model => model.ArrivalMin)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CarMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatsAvailable)
        </dd>

        <dt> <!-- Display if StartDate is future date -->
            @if (DateTime.Compare(Model.StartDate, DateTime.Today) > 0)
            {
                @Html.DisplayNameFor(model => model.StartDate)
            }
        </dt>

        <dd> <!-- Display if StartDate is future date -->
            @if (DateTime.Compare(Model.StartDate, DateTime.Today) > 0)
            {
                @Html.DisplayFor(model => model.StartDate)
            }
        </dd>

        <dt> <!-- EndDate displayed if provided -->
            @if (Model.EndDate != null)
            {
                @Html.DisplayNameFor(model => model.EndDate)
            }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate) 
        </dd>

        <dt> <!-- Displayed if any days provided -->
            @if (ViewBag.SelectedDays.Count != 0)
            {
                @Html.Label("Valid Every:")
            }
        </dt>

        <dd>
            @{
                foreach (var day in ViewBag.SelectedDays)
                {
                    <span>@day &nbsp;</span>
                }
            }
        </dd>
    </dl>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Back to List", "All", "LiftOffers") |
        @Html.ActionLink("Book Seat", "Create", "SeatBookings", new {
                            id = Model.LiftOfferID }, new { @class = "btn btn-default" })
                            
    </div>
</div> 

