@model ShareCar.Models.LiftOffer

@{
    ViewBag.Title = "Edit";
}

@{  // Create hours and minutes for dropdown list
    SelectList listHours = new SelectList(new[] {
       "00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11",
       "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23" });
    SelectList listMinutes = new SelectList(new[] {
       "00", "15", "30", "45"});
}

@{  // Create 10 seats numbers for dropdown list
    List<SelectListItem> seatsNo = new List<SelectListItem>();
    for (int i = 1; i <= 10; i++)
    {
        seatsNo.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lift Offer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LiftOfferID)
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            @Html.LabelFor(model => model.StartPointName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartPointName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartPointName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndPointName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndPointName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndPointName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartureHour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepartureHour, listHours, "-hour-")
                @Html.ValidationMessageFor(model => model.DepartureHour, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.DepartureMin, listMinutes, "-min-")
                @Html.ValidationMessageFor(model => model.DepartureMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalHour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ArrivalHour, listHours, "-hour-")
                @Html.ValidationMessageFor(model => model.ArrivalHour, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.ArrivalMin, listMinutes, "-min-")
                @Html.ValidationMessageFor(model => model.ArrivalMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarMake, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarMake, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarMake, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarModel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeatsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SeatsAvailable, seatsNo, "0")              
                @Html.ValidationMessageFor(model => model.SeatsAvailable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <p>&nbsp</p>
    <label>Valid every:</label>
    <br />
    for (var i = 0; i < Model.Days.Count; i++)
    {
        @Html.HiddenFor(it => Model.Days[i].DayID)
        @Html.HiddenFor(it => Model.Days[i].DayName)
        @Html.CheckBoxFor(it => Model.Days[i].Selected)
        <label style="font-weight:normal">@Model.Days[i].DayName</label>
    }
}
<p>&nbsp</p>
<div>
    @Html.ActionLink("Back to List", "UserOffers", "LiftOffers") |
    <input type="submit" value="Save" class="btn btn-default" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
