@model IEnumerable<ShareCar.Models.LiftOffer>

@{
    ViewBag.Title = "My Offers";
}

<h2>My Lift Offers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPointName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndPointName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPointName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndPointName)
        </td>
        <td>
            @Html.DisplayFor(model => item.DepartureHour) : @Html.DisplayFor(model => item.DepartureMin)
        </td>
        <td>
            @Html.DisplayFor(model => item.ArrivalHour) : @Html.DisplayFor(model => item.ArrivalMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatsAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LiftOfferID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LiftOfferID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LiftOfferID })
        </td>
    </tr>
    }
</table>
