@using ShareCar.Models
@model IEnumerable<ShareCar.Models.LiftOffer>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Share Car&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:xx-large">Make life better. Save money.</span></h1>
    <p class="lead">Share a Car or find Lift Offer </p>

    @*<p><a href="http://www.tobeimplemented" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@

    <p>
        @Html.ActionLink("Advanced Search", "All", "LiftOffers", new {
                            area = "" }, new { @class = "btn btn-primary btn-large" })
    </p>
</div>
<div class="col">
    <h4 style="font-weight:bolder">Latest offers</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.RatingAvg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPointName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndPointName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsAvailable)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            // find user to display name and rating
            ApplicationDbContext db = new ApplicationDbContext();
            var name = db.Users.FirstOrDefault(user => user.Id == item.UserID);
            <tr>
                <td>
                    @Html.DisplayFor(model => name.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => name.RatingAvg)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StartPointName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EndPointName)
                </td>
                <td>
                    @Html.DisplayFor(
                    model => item.DepartureHour):@Html.DisplayFor(model => item.DepartureMin)
                </td>
                <td>
                    @Html.DisplayFor(
                    model => item.ArrivalHour):@Html.DisplayFor(model => item.ArrivalMin)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CarMake)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(model => item.SeatsAvailable)
                </td>
            </tr>
        }
    </table>
</div>

<div class="row">
    <div class="col-md-4">
            <h2>Welcome to Share Car</h2>
            <p>
                Share Car is great initiative to make ours life better and save the environment.
                When Share Car you can reduce the cost of a journey or when looking for a Lift Offer,
                get one at low or at no cost.
            </p>
     </div>
     <div class="col-md-4">
            <h2>Lift offers</h2>
            <p>You can check all available lift offers. Select interesting offer and see details.</p>
            @Html.ActionLink("See offers", "All", "LiftOffers", new {
                                area = "" }, new { @class = "btn btn-default" })
     </div>
     <div class="col-md-4">
            <h2>Feedbacks</h2>
            <p>Check what people say and how they rate lift offers.</p>
            @Html.ActionLink("See feedbacks", "All", "Feedbacks", new {
                                area = "" }, new { @class = "btn btn-default" })
     </div>
</div>
