<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ShareCar</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Share Car", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><span class="glyphicon glyphicon-home" style="color:aliceblue"></span>@Html.ActionLink("Lift Offers", "All", "LiftOffers")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @* menu displayed for all authenticated users *@
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Offers", "UserOffers", "LiftOffers")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Feedback<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Leave", "Create", "Feedbacks")</li>
                                <li>@Html.ActionLink("Received", "FeedbacksReceived", "Feedbacks")</li>
                            </ul>
                        </li>
                    }

                    @* menu displayed for Admin users only *@
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Manage<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Feedbacks All", "AllAdmin", "Feedbacks")</li>
                                <li>@Html.ActionLink("Feedbacks Reported", "FeedbacksReported", "Feedbacks")</li>
                                <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Share Car by PW</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
    $(function () {
        $(".jqueryui-marker-datepicker").datepicker({
            dateFormat: "yy/mm/dd",
            changeYear: true,
            showOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calendar"},
                label: "Select a date",
                text: false
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
