<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ShareCar</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Share Car", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" style="font-size:14px" href="/Home/Index"><span class="glyphicon glyphicon-home"> Share Car</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(" Lift Offers", "All", "LiftOffers", null, new { @class = "glyphicon glyphicon-road " })</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>                   
                    
                    @* Menu displayed for all authenticated users *@
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Offers<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("My Offers", "UserOffers", "LiftOffers")</li>
                                <li>@Html.ActionLink("Received", "Received", "SeatBookings")</li>
                                <li>@Html.ActionLink("My Bookings", "MyBookings", "SeatBookings")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Feedbacks<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Leave", "MyBookings", "SeatBookings")</li>
                                @*<li>@Html.ActionLink("For Seeker", "Received", "SeatBookings")</li>*@
                                <li>@Html.ActionLink("Received", "Received", "Feedbacks")</li>
                            </ul>
                        </li>
                    }

                    @* Menu displayed for Admin users only *@
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Manage<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Feedbacks All", "AllAdmin", "Feedbacks")</li>
                                <li>@Html.ActionLink("Feedbacks Reported", "Reported", "Feedbacks")</li>
                                <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Share Car by PW</p>
        </footer>
    </div>

    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "yy/mm/dd",
                changeYear: true,
                minDate: 0,
                showOn: "button"
            }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Select a date",
                    text: false
                });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
